/* Basic styling for the app for now, including the login/register forms and dashboard.*/
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: hsl(210, 22%, 96%);
}

.page-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  width: 320px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-box h1 {
  text-align: center;
  margin-bottom: 1rem;
}

.form-box form {
  display: flex;
  flex-direction: column;
}

.form-box input {
  margin-bottom: 1rem;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.form-box button {
  padding: 0.8rem;
  border: none;
  border-radius: 6px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.form-box button:hover {
  background-color: #0056b3;
}

.form-box p {
  text-align: center;
  margin-top: 1rem;
}

.navbar {
  background-color: #222;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 1rem;
}

.dashboard-container {
  padding: 2rem;
}

.task-form {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.task-form input {
  flex: 1;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}


.task-form button,
.task-card button {
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 6px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

/* Filter Buttons for Dashboard*/
.filter-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-buttons button {
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 6px;
  background-color: #555;
  color: white;
  cursor: pointer;
}

.filter-buttons button:hover {
  background-color: #333;
}

.dashboard-container {
  padding: 2rem;
  max-width: 900px;
  margin: auto;
}

.task-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1rem;
}
select {
  padding: 0.6rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}


.search-bar {
  width: 100%;
  max-width: 400px;
  padding: 0.8rem;
  margin: 1rem 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}